 nav{
    background-color: #1A2930;
    font-family: 'Arial Nova', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
}

@media screen and (min-width: 480px) and (max-width: 767px)  {
        nav ul {
            flex-wrap: wrap;
        }
        
  }
  @media screen and (max-width: 479px) {
    nav ul {
        flex-wrap: wrap;
    }
  } 
  
nav ul li {
    margin: 30px;
    padding: 0px;
    border: 3px dotted #8E8D8A;
    display: inline;  
}

nav ul li {
    margin: 30px;
    padding: 0px;
    border: 3px dotted #8E8D8A;
    display: inline; 
}
nav ul {display: flex; justify-content: center;}
nav ul li ul { visibility: hidden; opacity: 0; position: absolute; transition: all 0.5s ease; display: none;}
nav ul li:hover > ul { visibility: visible; opacity: 1; display: flex; flex-direction: column; justify-content: left; padding: 0px;}
nav > ul:after {
    content: "";
    display: block;
    clear: both;
}
.two-tier {
    font-family: 'Arial Nova', Arial, sans-serif;
    text-align: center;
    background-color: whitesmoke
}
#menu-icon {
    background: url(menu-icon.png);
    visibility: hidden;
    width: 32px;
    height: 32px;
  }
  
@media only screen and (max-width: 640px) {
    header {
      position: absolute;
    }
   #menu-icon {
       visibility: visible;
     display: inline-block;
   }
   nav ul, nav:active ul {
     display: none;
     position: absolute;
     padding: 10px;
     background-color: whitesmoke;
     right: 0;
     top: 76px;
     width: 35%;
     margin: 0;
   }
   nav:hover ul {
    display: inline-flex;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
  }
  