body{
    background-color: #D8C3A5;
    margin: 40px;
}
.sidebar {
    grid-area: sidebar;
  }

  .sidebar2 {
    grid-area: sidebar2;
  }

  .content {
    grid-area: content;
    display: flex; flex-direction: column;
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .wrapper {
    background-color: #D8C3A5;
    color: #444;
  }

  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }
  @media only screen and (max-width: 479px)  {
    .wrapper {
  
      grid-template-columns: 20% auto;
      grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
    }
    }
  
    @media only screen and (max-width: 767px)   {
      .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header  header  header"
        "sidebar content sidebar2"
        "footer  footer  footer";
        max-width: 600px;
      }
    }

.box {
  background-color: #D8C3A5;
  color: #fff;
  border-radius: 5px;
  padding: 10px; 
}

.header,
.footer {
  background-color: #E98074;
  color: #EAE7DC;
}

.sidebar2 {
  background-color: #D8C3A5;
  color:  #8E8D8A;
}
h1{
    font-family: Garamond, 'Times New Roman', serif;
    color: #EAE7DC;
    background-color: #E98074;
    border-radius: 5px;
}
h3{
    font-family: 'Arial Nova', Arial, sans-serif;
    font-style: italic;
    color: #E85A4F;
}
p{
    font-family: 'Arial Nova Light', Arial, sans-serif;
    color: #8E8D8A;
    border-radius: 5px;
}
blockquote{
    color: #E85A4F;
    font-family: Garamond, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}
main p:first-of-type::first-letter { font-weight: bold; font-size: 200%; }
#reflections { text-indent: 3em;}
